.about-hero {
    background: url('/images/banniere-zoo.jpg') center/cover no-repeat;
    padding: 80px 20px 40px;
    text-align: center;
    color: white;
    position: relative;
}

.about-hero::before {
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.about-text {
    position: relative;
    z-index: 2;
}

.about-text h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #f0f8f5;
}

.about-text p {
    font-size: 1.2rem;
    color: #e3fcec;
}

.about-section {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 1200px;
    margin: auto;
}

.section-block {
    display: flex;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

.section-block.reverse {
    flex-direction: row-reverse;
}

.section-block img {
    width: 450px;
    height: 300px;
    object-fit: cover;
    border-radius: 12px;
}

.text-box {
    max-width: 500px;
    background: rgba(254, 254, 254, 0.8);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.text-box h2 {
    color: rgb(68, 169, 103);
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.text-box p {
    color: #333;
    font-size: 1rem;
    line-height: 1.5;
}