.login-container {
    max-width: 400px;
    margin: 60px auto;
    padding: 30px;
    background: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #f9f6f6;
    border-radius: 5px;
}

.password-wrapper {
    position: relative;
}

.toggle-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    cursor: pointer;
    transform: translateY(-50%);
    font-size: 14px;
    color: #79efd1;
}

.btn-login {
    width: 100%;
    background-color: #528d65;
    color: rgb(247, 247, 247);
    padding: 10px;
    border: none;
    border-radius: 5px;
}